<div class="navbar">
  <div class="logo">
    <img
      class="logo"
      style="cursor: pointer; width: 100px"
      src="../../../assets/logo.png"
      routerLink="/home"
    />

    <!-- <div class="searchbar">
          <mat-icon style="cursor: pointer">search</mat-icon>
          <input type="text" placeholder="Search" />
        </div> -->
  </div>

  <div class="navlinks">
    <nav>
      <div
        style="display: flex; align-items: center; justify-content: center"
        class=""
      >
        <mat-icon>person</mat-icon>

        <div class="profile">
          <div class="icon">
            <mat-icon>person_pin</mat-icon>
          </div>
          <div class="user_role">
            <h4>Username</h4>
            <p>Freelancer</p>
          </div>
          <div class="settings">
            <mat-icon>settings</mat-icon>
            Close account
          </div>

          <div class="logout">
            <mat-icon>logout</mat-icon>
            Log out
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="main">
  <h2>Hey OSama. Ready for your next big opportunity?</h2>
  <div class="item">
    <mat-icon>person</mat-icon>
    <p>Answer a few questions and start building your profile</p>
  </div>
  <div class="item">
    <mat-icon>contact_mail</mat-icon>
    <p>Answer a few questions and start building your profile</p>
  </div>
  <div class="item">
    <mat-icon>price_check</mat-icon>
    <p>Answer a few questions and start building your profile</p>
  </div>

  <div class="start">
    <div>
      <button routerLink="/create-profile/experience">Get started</button>
    </div>
    <div>
      <p>
        It only takes 5-10 minutes and you can edit it later. We’ll save as you
        go.
      </p>
    </div>
  </div>
</div>
