<div class="main-content">
  <div class="sidemenu">
    <ul>
      <li>
        <mat-icon>work_outline</mat-icon>
        <a routerLink="/jobs">My Jobs</a>
      </li>
      <li>
        <mat-icon>home</mat-icon>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <mat-icon>notifications</mat-icon>
        <a routerLink="/notifications">Notifications</a>
      </li>
      <li>
        <mat-icon>message</mat-icon>
        <a routerLink="/messaging">Messaging</a>
      </li>
      <li>
        <mat-icon>description</mat-icon>
        <a routerLink="/proposals">My Proposals</a>
      </li>
    </ul>
  </div>
</div>
