<div class="navbar">
  <div class="logo">
    <img
      class="logo"
      style="cursor: pointer; width: 100px"
      src="../../../assets/logo.png"
      routerLink="/home"
    />

    <!-- <div class="searchbar">
                <mat-icon style="cursor: pointer">search</mat-icon>
                <input type="text" placeholder="Search" />
              </div> -->
  </div>

  <div class="navlinks">
    <nav>
      <div
        style="display: flex; align-items: center; justify-content: center"
        class=""
      >
        <mat-icon>person</mat-icon>

        <div class="profile">
          <div class="icon">
            <mat-icon>person_pin</mat-icon>
          </div>
          <div class="user_role">
            <h4>Username</h4>
            <p>Freelancer</p>
          </div>
          <div class="settings">
            <mat-icon>settings</mat-icon>
            Close account
          </div>

          <div class="logout">
            <mat-icon>logout</mat-icon>
            Log out
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
>
<div class="main">
  <h2>Now, let’s set your hourly rate.</h2>
  <p>
    Clients will see this rate on your profile and in search results once you
    publish your profile. You can adjust your rate every time you submit a
    proposal.
  </p>
  <div class="rate">
    <div class="hourlyrate">
      <div>
        <h5 style="font-weight: 800">Hourly rate</h5>
        <h6 style="font-weight: 600">Total amount the client will see.</h6>
      </div>
      <input type="number" placeholder="0.00$" />
    </div>
    <div class="hourlyrate">
      <div>
        <h5 style="font-weight: 800">10% freelancer service fee</h5>
        <h6 style="font-weight: 600">
          This helps us run the platform and provide services like payment
          protection and customer support.
        </h6>
      </div>
      <input
        style="background: #292b3a; border: none"
        disabled
        type="number"
        placeholder="0.00$"
      />
    </div>
    <div class="hourlyrate">
      <div>
        <h5 style="font-weight: 800">You'll get</h5>
        <h6 style="font-weight: 600">Amount after fees .</h6>
      </div>
      <input disabled type="number" placeholder="0.00$" />
    </div>
  </div>
</div>

<div class="footer">
  <div class="progressbar"></div>
  <div class="btns">
    <button routerLink="/create-profile/bio">Back</button>
    <div class="skip-next">
      <button
        style="width: 200px; height: 50px"
        routerLink="/create-profile/profile"
      >
        Next, set you rate
      </button>
    </div>
  </div>
</div>
