<div class="navbar">
  <div class="logo">
    <img
      class="logo"
      style="cursor: pointer; width: 100px"
      src="../../../assets/logo.png"
      routerLink="/home"
    />

    <!-- <div class="searchbar">
            <mat-icon style="cursor: pointer">search</mat-icon>
            <input type="text" placeholder="Search" />
          </div> -->
  </div>

  <div class="navlinks">
    <nav>
      <div
        style="display: flex; align-items: center; justify-content: center"
        class=""
      >
        <mat-icon>person</mat-icon>

        <div class="profile">
          <div class="icon">
            <mat-icon>person_pin</mat-icon>
          </div>
          <div class="user_role">
            <h4>Username</h4>
            <p>Freelancer</p>
          </div>
          <div class="settings">
            <mat-icon>settings</mat-icon>
            Close account
          </div>

          <div class="logout">
            <mat-icon>logout</mat-icon>
            Log out
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="main">
  <h2>Clients like to know what you know - add your education here.</h2>
  <p>
    You don’t have to have a degree. Adding any relevant education helps make
    your profile more visible.
  </p>

  <div class="add-experience">
    <div class="container-input">
      <label for="experience" (click)="show_popup=1">
        <div id="experience"><mat-icon>add</mat-icon></div>

        <p>Add Education</p>
      </label>
    </div>
  </div>

  <div class="add-experience-popup" *ngIf="show_popup">
    <div class="add-experience-popup-content">
     <div style=" padding: 10px 20px;display: flex; justify-content: space-between;"> <h2>Add Education</h2>
      <mat-icon style="cursor: pointer;" (click)="show_popup=0">close</mat-icon>
    </div>

      <form>
        <div>
          <label for="title">School
            <input type="text" id="title" name="title" required />
          </label>

        </div>
        <div>
          <label for="company">Degree
            <input type="text" id="company" name="company" required />
          </label>

        </div>
        <div>
          <label for="description">Field of study
            <input id="description" name="description" required>
          </label>

        </div>

        <div>
          <label for="region">Description
            <input type="text" id="region" name="region" required />
          </label>

        </div>

        <div>
          <label for="startDate">Start Date
            <input type="date" id="startDate" name="startDate" required />
          </label>

        </div>

        <div>
          <label for="endDate">End Date
            <input type="date" id="endDate" name="endDate" />
          </label>

        </div>
        <div style="display: flex; justify-content: center; align-items: center;">

          <button type="submit">Add</button>
          <button type="button"(click)="show_popup=0">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="footer">
  <div class="progressbar"></div>
  <div class="btns">
    <button routerLink="/create-profile/employment">Back</button>
    <div class="skip-next">

      <button
        style="width: 200px; height: 50px"
        routerLink="/create-profile/languages"
      >
        Next, add your languages
      </button>
    </div>
  </div>
</div>
