<app-header></app-header>
<div class="main-content">
  <div class="sidemenu">
    <div class="header">
      <h5>Messaging</h5>
      <div>
        <mat-icon>more_horiz</mat-icon>
        <mat-icon>create</mat-icon>
      </div>
    </div>
    <div class="search-message">
      <div>
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="search messages" />
      </div>
      <mat-icon>tune</mat-icon>
    </div>


  </div>

  <div  class="message-content">
    <div class="message-header">
      <h5>Osroot From Jobful</h5>
      <mat-icon>more_horiz</mat-icon>
    </div>

    <div class="contacter">
      <div class="avatar">
        <img src="../../assets/jobful.png" alt="" />
      </div>
      <div class="name-time">
        <h4>{{ current_contact.Name }}</h4>
        <p>Now</p>
      </div>
    </div>

    <div
      class="content"
      *ngFor="let message of current_contact.Message; let i = index"
    >
      <h6>{{ current_contact.Message[i] }}</h6>
    </div>

    <div class="message-field">
      <div class="message-input">
        <textarea
          [(ngModel)]="message"
          type="text"
          cols="20"
          placeholder="write a message"
        ></textarea>

        <div class="btns">
          <div class="send-btn">
            <button (click)="sendMessage()">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
