<app-header></app-header>

<div class="main" style="color: #000">
  <div class="profile">
    <div class="cover"></div>

    <div class="profile-image">
      <img src="../../../assets/contact-bg.png" alt="image" />
    </div>

    <div class="profile-info">
      <div>
        <h3 style="padding: 0; margin: 0">USername</h3>
        <p style="padding: 0; margin: 0">Client</p>
        <p style="padding: 0; margin: 0">Egypt, Cairo</p>
      </div>
      <div style="display: flex" class="hours">
        <div class="cardy" style="width: 170px; justify-content: space-between">
          <img src="../../../assets/add.svg" alt="" />
          <div>
            <h4>120$</h4>
            <p style="color: gray">Budget</p>
          </div>
        </div>

        <div class="cardy">
          <img src="../../../assets/hourl-rate.svg" alt="" />
          <div>
            <h4>4</h4>

            <p style="color: gray">Jobs Posted</p>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column" class="bio">
      <h4>About me</h4>

      <p style="color: gray">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci
        facere numquam, dolorum deserunt est soluta ducimus esse in dolore,
        impedit cum dolorem, maxime quasi? Delectus ipsa sunt, facilis
        voluptatibus odit eum tempore, sint rerum odio cum sit praesentium
        nesciunt dolor minima laborum totam similique. Distinctio quaerat
        tempora ex et explicabo.
      </p>
    </div>
  </div>
</div>
<!-- ############################################33 -->
<div class="main" style="color: #000">
  <div class="profile">
    <div class="cover"></div>

    <div class="profile-image">
      <img src="../../../assets/contact-bg.png" alt="image" />
    </div>

    <h4 style="padding: 10px; text-align: center; color: #fff">Services</h4>
    <div
      style="
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
      "
    >
      <div class="jobs" *ngFor="let job of jobs; let i = index">
        <div class="job" routerLink="/job/{{ job.id }}">
          <h4>{{ job.title }}</h4>
          <div class="time">
            <div>
              <span>{{ job.postedin }}</span>
              <span style="color: orangered"> Open</span>
            </div>

            <mat-icon color="primary">bookmark</mat-icon>
          </div>
          style="color: gray;"
          <p>{{ job.desc }}</p>
          <div class="skills">
            <span *ngFor="let skill of jobs[i].requiredskills">{{
              skill
            }}</span>
          </div>
          <div class="payment-location">
            <span>
              <mat-icon>check</mat-icon>
              Payment Verified
            </span>
            <span>
              <mat-icon>location_on</mat-icon>
              {{ job.location }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ############################################33 -->

<!-- ############################################33 -->
