.navbar {
    z-index: 999;
    // position: fixed;
    width: 100%;
    background-color: #131524;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 100px;
        }

        .searchbar {
            padding: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            mat-icon {
                color: #bebebe;
                width: 25px;
                font-size: x-large;
            }

            input {
                border-radius: 10px;
                height: 35px;
                padding: 10px;
                outline: 0;
                color: rgb(39, 35, 35);
                background: #bebebe;
            }
        }
    }

    .navlinks {
        nav {

            display: flex;

            >div {
                position: relative;
                background: #3e4e86;
                padding: 5px;
                margin: 10px;
                border-radius: 50%;
                transition: 0.14s;
                cursor: pointer;

                &:hover {
                    .profile {
                        opacity: 1;
                        visibility: visible;
                        bottom: -217px;

                    }
                }

                .profile {
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s;

                    left: -158px;
                    bottom: -230px;
                    background: #292b3a;
                    color: #bebebe;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;

                    .icon {
                        text-align: center;

                        mat-icon {
                            padding-top: 10px;
                            width: 100px;
                            height: 70px;

                            font-size: 60px;
                        }
                    }

                    .user_role {

                        h4 {
                            text-align: center;
                            // font-size: 19px;
                            padding: 0;
                            margin: 0;
                        }

                        p {
                            color: gray;
                            text-align: center;
                            font-size: 15px;
                            // font-weight: bold;
                            padding: 0;
                            margin: 0;
                        }
                    }

                    .settings {
                        display: flex;
                        // justify-content: space-between;
                        align-items: center;
                        gap: 20px;
                        padding: 10px;
                        font-size: 15px;
                        cursor: pointer;

                        &:hover {
                            background: #3e4e86;
                        }
                    }

                    .logout {
                        display: flex;
                        // justify-content: center;
                        align-items: center;
                        gap: 20px;
                        padding: 10px;
                        font-size: 15px;
                        cursor: pointer;

                        &:hover {
                            background: #3e4e86;
                        }
                    }
                }



                >mat-icon {
                    &:hover {
                        transform: scale(1.09);
                    }

                    cursor: pointer;
                    color: #bebebe;
                }
            }

            a {
                justify-content: center;
                align-items: center;
                color: #bebebe;
                text-decoration: none;
                padding: 5px;
                font-weight: 700;
            }


        }
    }
}

.main {
    padding: 30px;
    display: flex;
    color: #bebebe;

    div {

        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .left-side {
        width: 40%;
        border-right: 2px solid #5075d5;
        height: 300px;
    }

    .right-side {
        display: flex;
        flex-direction: column;
        // justify-content: ;
        align-items: center;
        padding: 20px;

        .input-headline {

            div {
                border: 1px solid #5075d5;
                width: 505px;
                height: 50px;
                transition: 0.2s;

                &:hover {
                    border: 2px solid #5075d5;
                    // width: 510px;

                    transform: scale(1);
                }
            }


            label {
                display: flex;
                flex-direction: column;

                .icon-input {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    mat-icon {
                        padding: 5px;
                        width: 30px;
                        height: 30px;
                        margin: auto;
                        cursor: pointer;
                    }
                }

                input {
                    background: #131524;
                    border: none;
                    height: 45px;
                    width: 500px;
                    outline: none;
                    color: #fff;
                    // padding: 10px;
                }
            }
        }
    }

}

.example {
    display: flex;

    .chips {
        display: flex;
        flex-direction: row;
        // width: 500px;
        flex-wrap: wrap;

        .chip {
            display: flex;
            padding: 3px;
            text-align: center;
            background: #3e4e86;
            border-radius: 15px;
            cursor: pointer;

            &:active {
                background: #5075d5;
                cursor: pointer;

            }

            input[type="checkbox"] {
                appearance: none;
                cursor: pointer;
            }

            label {
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 5px;


            }
        }


    }
}

.footer {
    position: fixed;
    // padding: 20px;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    // height: 100px;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #292b3a;

    // justify-content: space-between;
    .progressbar {
        height: 5px;
        width: 30%;
        border-radius: 5px;
        background-color: #5075d5;
    }

    .btns {

        padding: 20px 30px;
        // padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            width: 120px;
            height: 40px;
            border: none;
            background: #5075d5;
            color: #fff;
            font-weight: bold;
            margin-bottom: 10px;
            border-radius: 10px;
            transition: 0.3s;

            &:active {
                background: #3e4e86;
            }
        }

        .skip-next {
            padding: 0 10px;

            a {
                padding: 0 20px;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}