<div class="navbar">
  <div class="logo">
    <img
      class="logo"
      style="cursor: pointer; width: 100px"
      src="../../../assets/logo.png"
      routerLink="/welcome"
    />
  </div>

  <div class="navlinks">
    <nav>
      <div
        style="display: flex; align-items: center; justify-content: center"
        class=""
      >
        <mat-icon routerLink="/choose">how_to_reg</mat-icon>
        <a routerLink="/choose"> Sign Up </a>
      </div>

      <div
        style="display: flex; align-items: center; justify-content: center"
        class=""
      >
        <mat-icon routerLink="/login">login</mat-icon>
        <a routerLink="/login"> Login</a>
      </div>
    </nav>
  </div>
</div>

<div class="main-content">
  <div class="header">
    <h1>How work should work</h1>
    <p style="color: #bebebe">
      Forget the old rules. You can have the best people. Right now. Right here.
    </p>
    <button>Get Started</button>
  </div>
  <div class="cover">
    <img src="../../assets/jobful.png" alt="" />
  </div>
</div>

<div class="btns">
  <button>Find Talent</button>
  <button>Find Work</button>
</div>

<footer>
  <div class="copyright" style="display: flex; color: #505050">
    <h3>copyright 2023</h3>
    <mat-icon>facebook</mat-icon>
    <mat-icon>twitter</mat-icon>
  </div>
</footer>
