<div class="navbar">
  <div class="logo">
    <img
      class="logo"
      style="cursor: pointer; width: 100px"
      src="../../../assets/logo.png"
      routerLink="/home"
    />

    <!-- <div class="searchbar">
                  <mat-icon style="cursor: pointer">search</mat-icon>
                  <input type="text" placeholder="Search" />
                </div> -->
  </div>

  <div class="navlinks">
    <nav>
      <div
        style="display: flex; align-items: center; justify-content: center"
        class=""
      >
        <mat-icon>person</mat-icon>

        <div class="profile">
          <div class="icon">
            <mat-icon>person_pin</mat-icon>
          </div>
          <div class="user_role">
            <h4>Username</h4>
            <p>Freelancer</p>
          </div>
          <div class="settings">
            <mat-icon>settings</mat-icon>
            Close account
          </div>

          <div class="logout">
            <mat-icon>logout</mat-icon>
            Log out
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
>
<div class="main">
  <h4>Looking good. Next, tell us which languages you speak.</h4>
  <p>
    Jobful is global, so clients are often interested to know what languages you
    speak. English is a must, but do you speak any other languages?
  </p>

  <div class="profile">
    <!-- <div class="left-side">
      <div class="img">
        <img src="../../../assets/jobful.png" alt="" />
      </div>
      <div class="uplaod">
        <label id="upload" for="uplaod">
          <input style="display: none" id="uplaod" type="file" />
          <mat-icon>add</mat-icon>
          Upload Picture
        </label>
      </div>
    </div> -->
    <div class="right-side">
      <div class="country">
        <label for="country">Languages</label>
        <select name="" id="">
          <option value="" hidden>Choose languege</option>
          <option value="arabic">Arabic</option>
          <option value="english">English</option>
          <option value="french">French</option>
          <option value="japanese">Japanese</option>
        </select>
      </div>

      <div class="country">
        <label for="country">Proficiency</label>
        <select name="" id="">
          <option value="" hidden>Choose Level</option>
          <option value="good">Good</option>
          <option value="advanced">Advanced</option>
          <option value="native">Native</option>
        </select>
      </div>

      <div class="country">
        <button>Add language</button>
      </div>




    </div>
    <div class="right-right">
      <div class="langs">
        <div class="lang">
          <h6>Languages</h6>
          <div>
            <h5>English</h5>
            <p>Good</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="progressbar"></div>
  <div class="btns">
    <button routerLink="/create-profile/education">Back</button>
    <div class="skip-next">
      <button style="width: 200px; height: 50px" routerLink="/create-profile/add-skills">
        Next, add your skills
      </button>
    </div>
  </div>
</div>
