.main-content {


  // position: relative;
  padding: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  // align-items: center;

  // gap: 2%;
  .sidemenu {
      position: fixed;
      width: 20%;
      height: fit-content;
      font-weight: 500;
      background: #292b3a;
      color: #bebebe;
      // box-shadow: 0 0 10px #292b3a;
      border-radius: 5px;
      padding: 20px;


      ul {
          display: flex;
          flex-direction: column;
          gap: 15px;
          list-style: none;
          padding: 0;
          margin: 0;

          li {
              display: flex;
              // justify-content: center;
              align-items: center;

              gap: 10px;

              a {
                  position: relative;

                  &::after {
                      position: absolute;
                      content: '';
                      left: 0;
                      top: 100%;
                      width: 0%;
                      transition: 0.3s;
                      height: 1px;
                      background: #5075D5;

                  }

                  &:hover::after {
                      width: 100%;
                  }

                  text-decoration: none;
                  color: #bebebe;

              }
          }
      }
  }

  .primary-content {
      margin-left: auto;
      width: 75%;
      display: flex;

      // justify-content: space-between;
.profile{
  background: #292b3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid #3e4e86;
  height: 500px;
  border-radius: 10px;
  img{
    width: 300px;
    // border-radius: 50%;
  }
}
      .righter {
          padding: 20px;
          .hourly{
            display: flex;
            justify-content: space-between;
            padding: 10px;
            margin: 20px;
            .cards{
              margin: 10px;
              padding:10px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              background: #292b3a;
              border-radius: 20px;
              img{
                width: 50px;
              }
              div{
                padding:0 20px;
              }
            }
          }
      }

  }
}

.chips {
  display: flex;
  gap: 20px;
  margin-top: 30px;

  span {
      width: fit-content;
      display: inline-block;
      padding: 5px 10px;
      background: #3e4e86;
      border-radius: 30px;

      &:hover {
          background: #5075D5;
          color: #FFF;
          cursor: pointer;
      }
  }

}
