<app-header></app-header>

<div class="main" style="color: #000">
  <div class="profile">
    <div class="cover"></div>

    <div class="profile-image">
      <img src="../../../assets/contact-bg.png" alt="image" />
    </div>

    <div class="profile-info">
      <div>
        <h3 style="padding: 0; margin: 0">USername</h3>
        <p style="padding: 0; margin: 0">Freelancer</p>
        <p style="padding: 0; margin: 0">Egypt, Cairo</p>
      </div>
      <div class="hours">
        <div class="cardy">
          <img src="../../../assets/hourl-rate.svg" alt="" />
          <div>
            <h4>120$</h4>
            <p>Hourly Rate</p>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column" class="bio">
      <h4>About me</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci
        facere numquam, dolorum deserunt est soluta ducimus esse in dolore,
        impedit cum dolorem, maxime quasi? Delectus ipsa sunt, facilis
        voluptatibus odit eum tempore, sint rerum odio cum sit praesentium
        nesciunt dolor minima laborum totam similique. Distinctio quaerat
        tempora ex et explicabo.
      </p>
    </div>
  </div>
</div>
<!-- ############################################33 -->
<div class="main" style="color: #000">
  <div class="profile">
    <div class="cover"></div>

    <div class="profile-image">
      <img src="../../../assets/contact-bg.png" alt="image" />
    </div>

    <div class="bio">
      <h4 style="padding-right: 20px">Education</h4>
      <div
        style="
          padding: 10px;
          margin: 10px;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background: #292b3a;
          color: #fff;
          width: 300px;
          /* margin: auto; */
        "
        class="card"
      >
        <div
          style="
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background: #292b3a;
            color: #fff;
            width: 300px;
            /* margin: auto; */
          "
        >
          <div>
            <p>School</p>
            <h5>Azhar</h5>
          </div>

          <div>
            <p>Degree</p>
            <h5>Good</h5>
          </div>
        </div>
      </div>
      <div
        style="
          padding: 10px;
          margin: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background: #292b3a;
          color: #fff;
          width: 300px;
          /* margin: auto; */
        "
        class="card"
      >
        <div
          style="
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background: #292b3a;
            color: #fff;
            width: 300px;
            /* margin: auto; */
          "
        >
          <div>
            <p>Field</p>
            <h6>Engineering</h6>
          </div>

          <div>
            <p>Graduation</p>
            <h6>20/20/2020</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ############################################33 -->
<div class="main" style="color: #000">
  <div class="profile">
    <div class="cover"></div>

    <div class="profile-image">
      <img src="../../../assets/contact-bg.png" alt="image" />
    </div>

    <div class="bio">
      <h4 style="padding-right: 20px">Experience</h4>
      <div
        style="
          padding: 10px;
          margin: 10px;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background: #292b3a;
          color: #fff;
          width: 300px;
          /* margin: auto; */
        "
        class="card"
      >
        <div
          style="
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background: #292b3a;
            color: #fff;
            width: 300px;
            /* margin: auto; */
          "
        >
          <div>
            <p>Company</p>
            <h5>Google</h5>
          </div>

          <div>
            <p>Title</p>
            <h6>Angular Developer</h6>
          </div>
        </div>
      </div>
      <div
        style="
          padding: 10px;
          margin: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background: #292b3a;
          color: #fff;
          width: 300px;
          /* margin: auto; */
        "
        class="card"
      >
        <div
          style="
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background: #292b3a;
            color: #fff;
            width: 300px;
            /* margin: auto; */
          "
        >
          <div>
            <p>Start date</p>
            <h6>20/20/2020</h6>
          </div>

          <div>
            <p>End date</p>
            <h6>20/20/2020</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ############################################33 -->
<div class="main" style="color: #000">
  <div class="profile">
    <div class="cover"></div>

    <div class="profile-image">
      <img src="../../../assets/contact-bg.png" alt="image" />
    </div>
    <div class="skills">
      <h3 style="color: #fff; padding: 20px">Skills</h3>
      <div style="display: flex; flex-wrap: wrap; width: 500px; margin: auto">
        <mat-chip>HTML</mat-chip>
        <mat-chip>HTML</mat-chip>
        <mat-chip>HTML</mat-chip>
        <mat-chip>HTML</mat-chip>
        <mat-chip>HTML</mat-chip>
        <mat-chip>HTML</mat-chip>
      </div>
    </div>
  </div>
</div>
