<div class="navbar">
  <div class="logo">
    <img
      class="logo"
      style="cursor: pointer; width: 100px"
      src="../../../assets/logo.png"
      routerLink="/home"
    />

    <!-- <div class="searchbar">
            <mat-icon style="cursor: pointer">search</mat-icon>
            <input type="text" placeholder="Search" />
          </div> -->
  </div>

  <div class="navlinks">
    <nav>
      <div
        style="display: flex; align-items: center; justify-content: center"
        class=""
      >
        <mat-icon>person</mat-icon>

        <div class="profile">
          <div class="icon">
            <mat-icon>person_pin</mat-icon>
          </div>
          <div class="user_role">
            <h4>Username</h4>
            <p>Freelancer</p>
          </div>
          <div class="settings">
            <mat-icon>settings</mat-icon>
            Close account
          </div>

          <div class="logout">
            <mat-icon>logout</mat-icon>
            Log out
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
>
<div class="main">
  <h2>If you have relevant work experience, add it here.</h2>
  <p>
    Freelancers who add their experience are twice as likely to win work. But if
    you’re just starting out, you can still create a great profile. Just head on
    to the next page.
  </p>

  <div class="add-experience">
    <div class="container-input">
      <label for="experience">
        <div id="experience"><mat-icon>add</mat-icon></div>

        <p>Add Experience</p>
      </label>
    </div>
  </div>
</div>

<div class="footer">
  <div class="progressbar"></div>
  <div class="btns">
    <button routerLink="/create-profile/title">Back</button>
    <div class="skip-next">
      <a routerLink="">Skip for now</a>
      <button
        style="width: 200px; height: 50px"
        routerLink="/create-profile/education"
      >
        Next, Add you education
      </button>
    </div>
  </div>
</div>
