@import "../node_modules/bootstrap/scss/bootstrap.scss";
/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
}

html,
body {
    scroll-behavior: smooth !important;
    background-color: #131524 !important;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-content {
    // padding-top: 100px;
    color: #bebebe;

    mat-icon {

        cursor: pointer;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}