<app-header></app-header>

<div class="main-content">
  <div class="header-title">
    <h4>Your notifications</h4>
  </div>

  <div class="notiification">
    <div class="notif-pic">
      <mat-icon>notifications</mat-icon>
    </div>

    <div class="noti-desc">
      <h6>
        <span style="font-weight: 700; color: #fff">Osroot Posted:</span> I want
        to know more about the college experience in the UK Campus
      </h6>
    </div>

    <div class="noti-time">
      <p>now</p>
      <div class="options">
        <mat-icon>more_horiz</mat-icon>
        <h6></h6>
      </div>
    </div>
  </div>
</div>
