<app-header></app-header>
<div class="main-content">
  <div class="sidemenu">
    <ul>
      <li>
        <mat-icon>work_outline</mat-icon>
        <a routerLink="/jobs">My Jobs</a>
      </li>
      <li>
        <mat-icon>home</mat-icon>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <mat-icon>notifications</mat-icon>
        <a routerLink="/notifications">Notifications</a>
      </li>
      <li>
        <mat-icon>message</mat-icon>
        <a routerLink="/messaging">Messaging</a>
      </li>
      <li>
        <mat-icon>description</mat-icon>
        <a routerLink="/proposals">My Proposals</a>
      </li>
      <li>
        <mat-icon>diversity_3</mat-icon>
        <a routerLink="/  ">Freelancers</a>
      </li>
    </ul>
  </div>
  <span class="material-symbols-outlined"> diversity_3 </span>
  <div class="primary-content">
    <div class="suggested-jobs">
      <div class="notifications">
        <div class="notification">
          <div class="icon">
            <img src="../../assets/icon-4.png" alt="" />
          </div>
          <div class="notification-content">
            <h5>Notification:</h5>
            <p>
              I want to see something interesting want to see something
              interesting want to see something interesting
            </p>
          </div>

          <div class="icon3">
            <mat-icon (click)="show_notif_option = !show_notif_option"
              >more_horiz</mat-icon
            >
          </div>

          <div *ngIf="show_notif_option" class="options">
            <button>
              <mat-icon>delete</mat-icon>
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
